<!DOCTYPE HTML>

<html>
	<head>
		<title>Parth Gupta</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
		
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<img src="/static/images/profile.jpg" alt="" width="50%" style="border-radius: 100%;">
						<nav>
							<ul>
								<li><a href="#intro">Hola</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="intro">
								 <div style="
    border: 1px solid rgba(158, 158, 158, 0.678);
    padding: 2rem;
">
								<span class="image main"><img src="/static/images/profile.jpg" alt=""></span>
<h1>Parth Gupta</h1><h3>Web Designer - Developer and Photography</h3><ul class="icons">
									<li><a href="https://www.instagram.com/parth_gpt/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://www.instagram.com/theshutterstories_/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://github.com/parth-gpt" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="https://www.linkedin.com/in/parth-gupta-760b1411b/" class="icon brands fa-linkedin"><span class="label">Twitter</span></a></li>
								</ul>
								</div>
							</article>

					</div>
			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>